repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: mixed-line-ending
    -   id: end-of-file-fixer
        exclude: docs/
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
    -   id: black
        args: [--target-version=py39, --line-length=99]
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        args: [--profile=black, --line-length=99]
